<!DOCTYPE html>
<meta http-equiv="cache-control" content="no-cache" />
<html>

<head>
    <meta charset="utf-8">
    <title>NBA Statistics</title>
    <link rel="stylesheet" type="text/css" href="./Scripts/css/bootstrap-3.3.6/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="./Scripts/css/mystyle.css" media="screen" />
</head>
<body ng-app="logSearchApp">
    <div ng-controller="SearchLogController">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="brand">
                    <img alt="Brand" style="margin-top:3px !important;margin-bottom:3px !important" src="./Images/nba.jpg">
                </a>
            </div>
            <div class="container-fluid">
                <p class="navbar-text">NBA Player Performance Analyser</p>
            </div>
        </nav>

        <div class="container">
              <div class = "pull-right form-group has-feedback" > 
				   <input type="text" class="form-control input-sm" ng-model="searchText" placeholder="filter">
					<i class="glyphicon glyphicon-search form-control-feedback" tooltip="Home or Road"></i>
			  </div>
			  <table class="table table-hover">
                <thead>
				  <tr>
					<th> Player ID </th>
					<th> Player Name </th>
					<th> Team </th>
					<th></th>
                  </tr>
                </thead>
				<tbody>
				  <tr ng-repeat="d in playerInfoBody | filter:searchText track by $index ">
					     <td ng-repeat="a in d track by $index" ng-if="[0,2,11].indexOf($index) > -1" style="width:30%">
						{{a}}
					</td>
					<td style="width:100px">
					     <button type="button" class="btn btn-default" ng-click="expandedStats(d)">Expanded Stats</button>
					</td>
				  </tr>
				  </tbody>
            </table>
            <span class="label label-warning pull-right" ng-show="noresultsfound && searching">No Results Found</span>
        </div>
    </div>
</body>
<script src="./Scripts/js/jquery/jquery-2.1.4.min.js"></script>
<script src="./Scripts/js/angular/angular.js"></script>
<script src="./Scripts/js/angular/angular-animate.min.js"></script>
<script src="./Scripts/js/angular/angular-touch.min.js"></script>
<script src="./Scripts/js/jquery/PrintThis.js"></script>
<script src="./Scripts/js/angular/angular-sanitize.min.js"></script>
<script src="./Scripts/js/bootstrap/bootstrap.js"></script>
<script src="./Scripts/js/angular/angular-ui-bootstrap-1.3.3.min.js"></script>
<script src="./Scripts/js/moment.js"></script>
<script src="./Scripts/js/app.js"></script>
</html>