
<div class="modal-header">
        <nav class="navbar navbar-default-modal style=background-color:#FFFFFF">
            <div class="navbar-header">
                <a class="brand" style="margin: 5px;">
                    <img alt="{{teamname}}" style="margin-top:3px !important;" src='./Images/teams/{{teamname}}.png'>
                </a>
            </div>
            <div class="container-fluid">
                <p class="navbar-text">NBA Player Predictions by Player <span ng-show="finished">- Game Against: <b>{{Opposition}}</b> {{l}} <b>{{Location}}</b> </span> </p>
                <form class="navbar-form navbar-right" style="margin-right:10px" role="search">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" ng-model="Opposition" placeholder="vs Team" />
                        <i class="glyphicon glyphicon-user form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Home or Road" ng-model="Location" />
                        <i class="glyphicon glyphicon-globe form-control-feedback" tooltip="Home or Road"></i>
                    </div>
                    <button type="submit"class="btn btn-default" ng-click="search()">Go</button>
                </form>
            </div>
        </nav>

</div>

<div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                           <div> <img src='./Images/players/{{PlayerId}}.png' /> </div>                      
                 </div>
			 <div class="col-md-10">
			       <h4 ng-show="nodata"><span class="label label-danger pull-right"><b>{{error}}</b> </span></h4>
			       <div class="col-mid-3 pull-right" ng-show="notenoughgames">
						<h4><span class="label label-warning">CAUTION!: Player has not played enough games against <b>{{Opposition}}</b> </span></h4>
						  
						<div ng-show="nogamesagainstopponent">  
							<div class="form-group has-feedback">
									<input type="text" class="form-control input-sm" ng-model="margin"/> 
									<i class="glyphicon glyphicon-stats form-control-feedback" tooltip="Home or Road"></i>
							 </div>
									  <button type="Calculate"class="btn btn-default pull-right" ng-click="predict('',margin)">Predict</button>

						</div>	
				  </div>
				  <table st-table="statsResults" class="table">
					<thead>
					<tr> <th colspan="8" ng-show="finished"> Games Played: {{gamesPlayed}} </th> </tr>
					<tr>
						<th ng-repeat="header in headers.slice(18,27)">
								   {{header}}
						</th>
						<th ng-show="finished"> Sportsbet Margin </th>
					   </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="d in playerInfoBody track by $index">
							<td ng-repeat="a in d.slice(18,27) track by $index">
								{{a}}
							</td>
							<td>
						    <form>
								 <div class="form-group has-feedback">
									 <input type="text" class="form-control input-sm" ng-model="margin"/> 
									  <i class="glyphicon glyphicon-stats form-control-feedback" tooltip="Home or Road"></i>
								 </div>
								  <button type="Calculate"class="btn btn-default pull-right" ng-click="predict(d,margin,PlayerId,Opposition,Location)">Predict</button>
							</form>
						  </td>
						  
					  </tr>
					  </tbody>
				</table>
			</div>	
           </div>
		       <div class="row">
			     <div class="col-md-3 pull-right">
					  <span ng-show="predictionMade" class="pull-right">
								<h4> Score Predicted: {{PredictedScore}} +/- {{PlusMinus}}%</h4>
							</span>			
			  </div>
			 </div>	
        </div>
  </div>
<div class="modal-footer modalFooterColor">
	<div style="float:left;color:#FFFFFF;line-height:34px;"><strong>{{PlayerName}} - #{{JerseyNum}} - {{Position}}</strong> | <strong> Career Average: {{CareerPointsAvg}} </strong></div>
	
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
